@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
    
    --color-primary: #040710;
    
    --color-light-100: #244094;
    --color-light-200: #3A5FCF;

    --color-dark-100: #0C1531;
    --font-bitcount-grid-double: "Bitcount Grid Double", monospace;
    --font-sn-pro: "SN Pro";
    --breakpoint-xs: 480px;
  
}


@layer base {
    bodY{
        font-family: "SN Pro";
        background: #040710;
    }
    
    h1{
        font-family: "Bitcount Grid Double";
        @apply text-6xl text-center my-5 text-white 
    }
    
    h2 {
        @apply text-white text-3xl italic font-bold mb-6
    }
    main {
        @apply min-h-screen relative bg-primary;
    }

    header {
        @apply sm:mt-10 mt-5;
    }
    
    header img {
        @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
    }
}

@layer components {
    .wrapper {
        @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
    }

    .search {
        @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;
        
        & div {
            @apply relative flex items-center;
        }

        & input {
            @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
        }
    }
    
    .movie-list {
        @apply my-10 mx-50; 
         
        & ul {
        @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 text-amber-50;
        }
    }

    .error {
        @apply text-2xl text-red-500;
    }

    .movie-card {
        @apply bg-dark-100 p-10 rounded-2xl shadow-inner shadow-light-100/10 ;
         
        & img {
            @apply rounded-lg h-auto w-full;
        }

        & h3 {
            @apply text-white font-bold text-base line-clamp-1;
        }
        & .content {
            @apply flex-wrap mt-4 flex ;
            
        }
        & .content img {
            @apply size-6 object-contain;
        }
        & .rating {
            @apply flex flex-row items-center gap-1;
        }

        & .rating p {
            @apply text-base text-white font-bold;
        }
        
        & .rating img {
            @apply size-5 object-contain;
        }   
    }
    
    .trending {
    @apply mt-20 mx-50;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;
    }

    & ul li p {
      @apply fancy-text mt-[22px] text-nowrap;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
    }
  }
}
    
@utility text-gradient {
    @apply bg-linear-to-r from-[#c7cfff] to-[#5f91ff] bg-clip-text text-transparent
}

@utility fancy-text {
-webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
font-size: 190px;
font-family: "Bebas Neue", sans-serif;
}
